.form {
    /* display: flex; */
    /* flex-direction: row; */
    /* justify-content: center; */
    /* align-items: center; */
    /* gap: 1rem; */
    margin-top: 1rem;
}

.inputField {
    flex: 2;
}

.btn {
    flex: 1;
    height:'2.3rem'
}
.marginTop{
    /* margin-top: -2rem; */
}