.cardItem {
    width: 30%;
    background-color: #252A36;
    border-radius: 5px;
    padding: 1rem;
    box-shadow: rgb(0 0 0 / 35%) 0px 5px 15px;
}

.cardItem img {
    width: 100%;
    height: 20px;
    height: auto;
    object-fit: cover;
}

.title {
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(to bottom right, #204a70c2, #00ff5ab8);
    text-transform: uppercase;
}

.form {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    margin-top: 1rem;
}

.inputField {
    flex: 2;
}

.btn {
    flex: 1
}