
.navbar_class{
    width: 100%;
    padding: 1rem;

}
.navbar_class{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.searchbar{
    position: relative;
}
.searchbar input{
    padding: 10px;
    border-radius: 1rem;
    width: 300px;
    padding-left: 2.5rem;
    background-color: #252A36;
    outline: none;
    border: none;
}
.search_icon{
    color: rgba(255, 255, 255, 0.407);
    font-size: 1.5rem;
    position: absolute;
    top: 20%;
    left: 10px;
}
.btn_class{
     border: none;
     outline: none;
     padding: 0.7rem 2rem 0.7rem 2rem;
     border-radius: 1rem;
     background-color: #252A36;
     color: white;
}
.btn_class:hover{
    background-color: #2c3343;
}